
p { 
    color : red;
}

p, div {
border: 1PX solid black;
}

div#myDiv p.mainClass{
color:azure;
}
div p{
    color:red;
}


input[type="text"].mycClass{
    font: 100;
}

div ~ span {
    color:aliceblue;
}
p.myClass{
    color: beige;
}

div#myDiv{
    color:aqua;
}